
.flipper{
  width: 500px;
  height: 500px;
  border:1px solid black;
  margin:auto;
  margin-top: 150px;
  -webkit-perspective: 900px;
}

.front{
  width: 500px;
  height: 500px;
  background: lightblue;
  transition: 1s all ease;
  backface-visibility: hidden;
  position: absolute;
}
.back{
  width: 500px;
  height: 500px;
  background: lightgreen;
  transition: 1s all ease;
  backface-visibility: hidden;
  transform: rotateX(-180deg);
}

.flipper:hover .front{
  transform: rotateX(180deg);
}
.flipper:hover .back{
  transform: rotateX(0deg);
}
